body{
    font-size:100%;
    color: #191919;
    font-family: "acumin-pro", "Acumin Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height:1px;
    margin:0;
    padding:0;
}

header{
    box-sizing: border-box;
}

nav{
    display:block;
}

.MainNav-stripe{
    display: flex;
    padding:0px 24px;
    margin:0;
    height:55px;
    border-bottom: 1px solid #ececec;
}


.MainNav-coreNavigation{
    display: flex;
    margin-right: auto;
    height: 100%;
    align-items: center;
}

.MainNav-coreNavigation .MainNav-coreNavigationItem{
    line-height: 55px;
    height:100%;
}
 
.MainNav-upgrade{
    display:flex;
    align-items:center;
    margin-right: 10px;
    justify-content: center;
}

.MainNav-upgradeButton{
    color:white;
    line-height: 30px;
    border-radius: 100px;
    height: 31px;
  background: linear-gradient(to right, #0188fd 0%, rgba(0, 59, 255, 1) 25%, rgba(0, 31, 170, 1) 50%);
  font-size: 14px;
  font-weight: 400;
  padding:0 20px 1px;
  background-size: 200% 100%;
} 
.MainNav-signup{
    display:flex;
    align-items:center;
    justify-content:center;
}

.MainNav-signupOption{
    display: flex;
    align-items: center;
    justify-content: center;
    height:55px;
    margin-right:15px;
}

.signupButton{
    border:1px solid #e0eaff;
    cursor:pointer;
    font-weight: 400;
    font-size: 14px;
    background-color: #f5f8ff;
    padding: 0 1.25rem 1px;
    color: #0057ff;
    border-radius:100px;
    height:32px;
}
.MainNav-adobe-logo{
    display:flex;
    align-items:center;
    height:55px;
    width: 60px;
}


.Popover-activator{
    height:32px;
}

.MainNav-stripe .MainNav-coreNavigationItem:not(:last-child){
    margin-right:24px;
}

.MainNav-coreNavigationItemDivider{
    border:0.5px solid #e8e8e8;
    height: 20px;
    margin-top: 18px;
}


.behance-logo{
height: 55px;
width: 82px;
}

.Dropdown-downarrow{
    width:10px;
    height:10px;
    transform: rotate(-90deg);
    color: #191919;
}

ul{
    list-style: none;
    margin:0;
    padding: 0;
}

li{
    display: list-item;
}

a{
    cursor: pointer;
    text-decoration: none;
}

.MainNav-link{
    color: black;
}

.MainNav-coreNavigation-explore::after{
    content: "";
    display: block;
    height: 2px;
    background-color: black;
}

.MainNav-coreNavigation-findJobs:hover::after{
    content: "";
    display: block;
    height: 2px;
    background-color: black;
}